/* Global */
body{
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    overflow: hidden;
}

img{
    display: block;
    width: 100%;

}

h1,h2,h3,ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #F1F1F2;
    font-size: 13px;
}

header{
    height: 5.8rem;
}

.nav-style{
    float: right;
    margin-top: -65px;
    padding-right: 20px; 
}
.navbar{
    transform: skew(-12deg,0deg);
}
.navbar li{
    display:inline;
    margin: 20px;
    padding: 7px;
    background:  rgba(23, 37, 85, 0.986);
    color: #F1F1F2;
    font-size: 15px;
}
.current a{
    text-decoration: underline;
}
#menu:hover, #menu:focus{
    cursor: pointer;
}
.hidden-navbar ul {
    height: 40%;
    width: 100%;
    margin-top: -31px;
	background: rgba(28, 35, 61, 0.986);
	position: absolute;
	z-index: 9999;
	list-style-type: none;
}
.hidden-navbar li{
    padding: 20px 10px;
    color: #F1F1F2;
}
.hidden-navbar li:hover{
    background: rgba(64, 73, 104, 0.986);
    color: #F1F1F2;
}

.hidden-navbar img{
    width: 40px;
    margin-left: 160px;
    margin-top: -77px;
    
}

.nav-not-full{
    display: none;
}
#sidebar{
    display: none;
}

#branding{
    width: 12rem;
}


#section-hero {
	padding-top: 130px;
	padding-bottom: 130px;
    background-image: url("../img/photo-1521175776577-f8e0c1e5ecb7.jpg");
	background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	min-height: 47vh;
	position: relative;
	width: 100%;
	display: flex;
    align-items: center;
    opacity: 0.9;
    color: white;
}

.bg-text {
	margin-bottom: 1.5rem;
	font-weight: 700;
    font-size: 3rem;
}

.md-text {
	margin-bottom: 2rem;
	font-weight: 400;
    font-size: 1.5rem;
}

.sm-text {
	margin-bottom: 1.5rem;
	font-weight: 400;
    font-size: 1rem;
}

.container-hero {
	width: 75%;
    margin: 0 auto;
    text-align: center;
}


.hero-button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; 
}

.inline-style{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn a{ 
    background: #F1F1F2;
	color: rgb(44, 42, 49);
	font-family: 'Circular-Bold';
	margin: 1rem 0;
	padding: 0.7rem 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1rem;
	border-radius: 10px;  
}
.register{
    text-align: center;
    width: 5rem;
    text-transform: capitalize;
    opacity: 0;
}
.values{
    background: #ededed;
    padding: 3rem;
    min-height: 50%;
}

.values .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.values-desc {
    justify-content: center;    
}
.values-desc h3{
    text-align: center;
}
.values-img img{
    padding-top: 2rem;
    height: 15rem;  
}

.shadow{
    box-shadow: 0 15px 30px 0 rgba(32, 16, 58, 0.11), 0 5px 15px 0 rgba(0, 0, 0, .01);
}
.padding-bot{
    padding-bottom: 100px;
}
.heading-title-login{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgba(28, 35, 61, 0.986)
}
.center{
    text-align: center;
}
.border{
    width: 55vh;
    margin: auto;
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-radius: 7px;

}

.form-div{
    width: 90%;
    margin: auto;
}

.border h1{
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: rem;  
}
label{
    font-size: 0.9rem;
    font-weight: 700;
    color:  rgba(23, 37, 85, 0.986);
}
.border p{
    padding-bottom: 2rem;
}

.btn{
    margin-top:20px;
    background:  rgba(23, 37, 85, 0.986);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #F1F1F2;
}

#login-section a, .history a{
    color: rgba(23, 37, 85, 0.986);
    font-size: 0.8rem;
}

#login-section a:hover{
    text-decoration: underline;
}
.btn1{
    color: #F1F1F2 !important;
}
.btn1:hover{
    text-decoration: underline;
}


input, select, textarea{
    width: 100%;
    padding: 15px 10px;
    margin: 9px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
#password-label{
    margin-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#forgot-password-ptag{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0px;
}
#profile-pix{
    max-width:5rem;
    max-height: 5rem;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 13px;
    
}
.container-dashboard{
    width: 60%;
    margin:auto;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.dashboard{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    grid-auto-rows: 350px;
}
.acct-profile{
    display:grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 1em;
}
.user-profile, .acct-summary, .history{
    padding: 30px;
    text-align: center;
}
.user-profile h2{
    font-size:1.4rem;
}
.user-profile p{
    padding-top: 10px;
}
.top-border{
    border-top: 1px solid rgba(23, 37, 85, 0.986);
    border-width: 3px;
    border-radius:3px;    
    }

.m1{
    margin: 10px;
}
.m2{
    margin-bottom:30px;
    color: rgba(23, 37, 85, 0.986);
}
.b1{
    font-weight: 600;
    font-size: 0.9rem;
}
.history, #view-more{
    color: rgba(23, 37, 85, 0.986);
    font-size: 0.9rem;
    font-weight: 600;
}
.history:hover, .history:focus,
.dasboard-style:hover, .dasboard-style:focus,
.dashboard-delete:hover,.dashboard-style:focus{
    cursor: pointer;
    text-decoration: underline;
}

.history a:hover, #view-more:hover{
    text-decoration: underline;
}
.modal, .modal1, .modal2, .modal3, .modal4, .modal5{
    display:none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.transaction-content{
    background-color:  #F1F1F2;;
    margin: 11% auto;
    padding: 20px;
    width: 400px;
    height: 350px;
    text-align: center;
}
.close-btn{
    color: rgba(23, 37, 85, 0.986);
    float: right;
    font-size: 30px;
}
.close-btn:hover, .close-btn:focus{
    color:rgba(23, 37, 85, 0.986);
    cursor: pointer;
    font-weight: bold;
}

.admin-dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: center;

}
.dasboard-style{
    font-size: 1.05rem;
    color:rgba(23, 37, 85, 0.986);
    padding-top: 17%
}
.dashboard-delete{
    font-size: 1.05rem;
    color:red;
    padding-top: 8%;
    padding-left: 35%;
}
.content2{
    margin: 1% auto;    
    height: 550px;
    text-align: left;
}
.md-title{
    font-size: 1.2rem;
    margin-bottom: 40px;
}
input[type="checkbox" i] {
    width: 50px;
}
.cursor{
    cursor: pointer;
}
.del-btn{
    background-color: red;
}
footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    background: rgba(23, 37, 85, 0.986);
    color: white;
    height: 6rem;
}
.socialmedia-img{
    margin-top: 20px;
    width: 30px;    
}
/* MEDIA QUERIES */

@media all and (max-width: 700px) {
	.nav-full {
		display: none;
	}

	.nav-not-full {
		display: block;
    }
    .values .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 320px) {
    .hero-btn{
        margin: 1rem 0;
        padding: 0.5rem 0.8rem;
        font-weight: 550; 
    }  
}

@media (min-height: 500px) {
    .border{
        width: 16rem;
        margin: auto;
        margin-top: 2rem;
    }
    .padding-bot{
        margin-bottom: 79px;
    }
}
@media (min-height: 1020px) {
    .border{
        margin-top: 8rem;
        width: 60vh;
    }
    .padding-bot{
        margin-bottom: 185px;
    }
    .container-dashboard{
        margin-bottom: 300px
    }
}
@media (min-height: 1030px) {
    .border{
        width: 65vh;
        margin-top: 20rem;
    }
    .padding-bot{
        margin-bottom: 335px;
    }
    .container-dashboard{
        margin-top: 300px;
        margin-bottom: 380px;
    }
}
@media (max-width:700px) {
    .dashboard{
        grid-template-columns: 1fr;
    }
}
@media (max-width:950px) {
    .container-dashboard{
        width: 75%;
}
}
@media (max-width:750px) {
    .container-dashboard{
        width: 80%;
}
}
