/* Global */
body{
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    overflow: hidden;
}

img{
    display: block;
    width: 100%;

}

h1,h2,h3,ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #F1F1F2;
    font-size: 15px;
}

header{
    height: 5.8rem;
}

.nav-style{
    float: right;
    margin-top: -85px;
    padding-right: 20px; 
}
.navbar{
    transform: skew(-12deg,0deg);
}
.navbar li{
    display:inline;
    margin: 20px;
    padding: 10px;
    background:  rgba(23, 37, 85, 0.986);
    color: #F1F1F2;
    font-size: 15px;
}
.current a{
    text-decoration: underline;
}

.hidden-navbar ul {
    height: 40%;
    width: 100%;
    margin-top: -31px;
	background: rgba(28, 35, 61, 0.986);
	position: absolute;
	z-index: 9999;
	list-style-type: none;
}
.hidden-navbar li{
    padding: 20px 10px;
    color: #F1F1F2;
}
.hidden-navbar li:hover{
    background: rgba(64, 73, 104, 0.986);
    color: #F1F1F2;
}

.hidden-navbar img{
    width: 40px;
    margin-left: 160px;
    margin-top: -15px;
    
}

.nav-not-full{
    display: none;
}
#sidebar{
    display: none;
}

#branding{
    width: 17rem;
    margin-top: -24px;
}


#section-hero {
	padding-top: 130px;
	padding-bottom: 130px;
    background-image: url("../img/photo-1521175776577-f8e0c1e5ecb7.jpg");
	background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	min-height: 47vh;
	position: relative;
	width: 100%;
	display: flex;
    align-items: center;
    opacity: 0.9;
    color: white;
}

.bg-text {
	margin-bottom: 1.5rem;
	font-weight: 700;
    font-size: 3rem;
}

.md-text {
	margin-bottom: 2rem;
	font-weight: 400;
    font-size: 1.5rem;
}

.sm-text {
	margin-bottom: 1.5rem;
	font-weight: 400;
    font-size: 1rem;
}

.container-hero {
	width: 75%;
    margin: 0 auto;
    text-align: center;
}


.hero-button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.inline-style{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn{
    background: #F1F1F2;
	color: rgb(44, 42, 49);
	font-family: 'Circular-Bold';
	margin: 1rem 0;
	padding: 0.7rem 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1rem;
	border-radius: 10px;  
}
.register{
    text-align: center;
    width: 5rem;
    text-transform: capitalize;
    opacity: 0;
}
.values{
    background: #ededed;
    padding: 3rem;
    min-height: 50%;
}

.values .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.values-desc {
    justify-content: center;    
}
.values-desc h3{
    text-align: center;
}
.values-img img{
    padding-top: 2rem;
    height: 15rem;  
}

.shadow{
    box-shadow: 0 15px 30px 0 rgba(32, 16, 58, 0.11), 0 5px 15px 0 rgba(0, 0, 0, .01);
}
.padding-bot{
    padding-bottom: 100px;
}
.heading-title-login{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgba(28, 35, 61, 0.986)
}
.center{
    text-align: center;
}
.border{
    width: 55vh;
    margin: auto;
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-radius: 7px;

}

.form-div{
    width: 90%;
    margin: auto;
}

.border h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: rem;  
}
label{
    font-size: 0.9rem;
    font-weight: 700;
    color:  rgba(23, 37, 85, 0.986);
}
.border p{
    padding-bottom: 2rem;
}

.btn{
    margin-top:20px;
    background:  rgba(23, 37, 85, 0.986);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #F1F1F2;
}
.blue-link{
    
}
#login a{
    color: rgba(23, 37, 85, 0.986);
    font-size: 0.8rem;
}

#login a:hover{
    text-decoration: underline;
}


input, textarea{
    width: 100%;
    padding: 15px 10px;
    margin: 9px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
#password-label{
    margin-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#forgot-password-ptag{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0px;
}

footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    background: rgba(23, 37, 85, 0.986);
    color: white;
    height: 6rem;
}
.socialmedia-img{
    margin-top: 20px;
    width: 30px;    
}
/* MEDIA QUERIES */

@media all and (max-width: 700px) {
	.nav-full {
		display: none;
	}

	.nav-not-full {
		display: block;
    }
    .values .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 320px) {
    .hero-btn{
        margin: 1rem 0;
        padding: 0.5rem 0.8rem;
        font-weight: 550; 
    }  
}

@media (min-height: 500px) {
    .border{
        width: 16rem;
        margin: auto;
        margin-top: 2rem;
    }
    .padding-bot{
        margin-bottom: 79px;
    }
}
@media (min-height: 1020px) {
    .border{
        margin-top: 8rem;
        width: 60vh;
    }
    .padding-bot{
        margin-bottom: 185px;
    }
}
@media (min-height: 1030px) {
    .border{
        width: 65vh;
        margin-top: 20rem;
    }
    .padding-bot{
        margin-bottom: 335px;
    }
}